.buttonLink{
    padding: 0.5rem 1.5rem;
    color:white;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    transition: background-color 200ms ease-in;
}

.buttonLink[disabled]{
    cursor:not-allowed;
    background-color: #ddd!important;
}

.buttonLink.info {
    background-color: var(--color-info);
}

.buttonLink.success {
    background-color: var(--color-success);
}

.buttonLink.failure {
    background-color: var(--color-failure);
}

.buttonLink.warning {
    background-color: var(--color-warning);
}

.info.buttonLink:hover,
.info.buttonLink:focus {
    background-color: var(--color-info-dark);
}

.success.buttonLink:hover,
.success.buttonLink:focus {
    background-color: var(--color-success-dark);
}

.failure.buttonLink:hover,
.failure.buttonLink:focus {
    background-color: var(--color-failure-dark);
}

.warning.buttonLink:hover,
.warning.buttonLink:focus {
    background-color: var(--color-warning-dark);
}