.main {
    position: relative;
    border-top: 1rem solid lightgray;
    padding: 1rem 3rem;
    background: white;
    width: clamp(400px, 80%, 1000px);
    margin: 0 auto;
    box-shadow: 0 0 0.5rem 0 rgba(200, 200, 200, 0.5);
    flex-grow: 1;
}

.progress {
    position: absolute;
    top:-1rem;
    left:0;
    height:1rem;
    background-color: var(--color-tertiary);
}